* {
    box-sizing: border-box;
}

.Menu-Holder {
    position: fixed;
    right: 1vw;
    bottom: 0;
    width: 1vw;
    height: 18vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;

    z-index: 20;
}

.Menu-Holder h4 {
    writing-mode: vertical-lr;
    font-family: 'Kross Neue Book';
    color: #852630;
}

.Menu-Line {
    width: 0.25vw;
    height: 9vw;
    background: #852630;
    margin-top: 1vw;
    border-radius: 2vw;
}

@media (max-width: 1000px) {
    .Menu-Holder {
        display: none;
    }   
}