.Trees {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 100vh;

    background-image: url('../../Images/Trees.svg');
    background-size: contain;
    background-repeat:  no-repeat;
    background-position: 0;
}