*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .5s;
}

.Role-Container {
    width: 100vw;
    height: 100vh;
    background: #EEEEEE;

    display: flex;
    justify-content: left;
    align-items: center;
    scroll-snap-align: center;
}

.Role-Overview {
    width: 100vw;
    height: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    left: -25vw;
}

#MakersOverview {
    gap: 8vw;
    left: -23vw;
}

.Role-Image {
    background-image: url('../../Images/MakersLogo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(16%) sepia(38%) saturate(4207%) hue-rotate(334deg) brightness(93%) contrast(87%);
}

#AIMLogo {
    background-image: url('../../Images/AIMLogoUp.svg');
}

#TroyLabsLogo {
    background-image: url('../../Images/TroyLabsLogo.svg');
}

#MakersLogo {
    background-image: url('../../Images/MakersLogo.svg');
}

#RHALogo {
    background-image: url('../../Images/RHASidewaysLogo.svg');
}

#ColumbiaLogo {
    background-image: url('../../Images/ColumbiaLogo.svg');
}

.Role-Resume {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kross Neue Book';
    position: relative
}

.Role-Grid {
    width: 100%;
    height: 80%;

    display: grid;
    grid-template-rows: 2fr 9fr;
}

.Role-Title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1vw;
    position: relative;
}

.Title-H1 {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}

.Role-Title h1 {
    font-size: 4vw;
    color: #852630;
}

#AIMTitle h1 {
    font-size: 2.5vw;
}

#RHATitle h1 {
    font-size: 2.25vw;
}

.Role-Title h4 {
    font-family: 'Kross Neue Light';
    font-size: 1.25vw;
}

.Role-Description {
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

#AIMDescription {
    height: 75%;
}

.Role-Subimages {
    margin: 0.75vw;
    writing-mode: vertical-rl;
    white-space: nowrap;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #852630;
    font-size: 1.1vw;
    border-right: 0.2vw solid #852630;
}

.Role-Bulletpoints {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 1vw;

    font-size: 1.1vw;
}

.Role-Bulletpoints ul li {
    margin-bottom: 0.5vw;
    list-style: circle;
}

.Return-Button {
    position: absolute;
    right: 0;
    width: 2vw;
    height: 2vw;

    background-image: url('../../Images/icons8-left-2-100.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0) saturate(100%) invert(16%) sepia(38%) saturate(4207%) hue-rotate(334deg) brightness(93%) contrast(87%);
    cursor: pointer;
}