*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.About-Holder {
    width: 100vw;
    height: 100vh;
    background: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.About-Center-Holder {
    width: 27.75vw;
    height: 40vw;

    display: grid;
    grid-template-columns: 0.5fr 10fr;
    grid-template-rows: 1.90fr 7fr 4fr;
}

.About-Text {
    grid-column-start: 1;
    grid-row-start: 2;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.About-Text h4 {
    writing-mode: vertical-rl;
    white-space: nowrap;
    font-size: 1.5vw;
    font-family: 'Kross Neue Light';
    animation: marquee 10s linear infinite;
}

.About-Text:hover h4 {
    animation-play-state: paused;
}

.About-Image {
    background-image: url('../../Images/IntroImageTwo.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.About-Side-Text {
    margin-left: 2vw;
    margin-top: -6vw;
    display: flex;
    flex-direction: column;
    line-height: 5vw;
    gap: 0px;
}

.About-Title {
    font-size: 5vw;
    font-family: 'Kross Neue Light';
    color: #852630;
    text-align: left;
    margin: 0;
}

.About-Subtitle {
    margin: 0;
    text-align: left;
    font-size: 1.5vw;
    font-family: 'Kross Neue Book';
    color: #852630;
}

.Buttons {
    width: 70%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 0.5vw;
}

.Buttons div {
    border-radius: 15px;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.GitHub {
    background: #852630;
}
.LinkedIn {
    background: #852630;
}

.Resume {
    background: #852630;
}




@keyframes marquee {
    0% {
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

