*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.Intro-Holder {
    width: 100vw;
    height: 100vh;

    background-color: #EEEEEE;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Intro-Center-Holder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 0;
}

.Intro-Center {
    background-image: url('../../Images/IntroImage.svg');
    background-size: contain;
    background-repeat:  no-repeat;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Intro-Text {
    transform: rotate(90deg);
    margin-right: 57%;
    margin-top: -34%;
    font-family: 'Kross Neue Light';
    height: 2.5%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.Intro-Text:hover h5 {
    animation-play-state: paused;
}

.Intro-Text h5{
    -moz-animation: scroll-left 10s linear infinite;
    -webkit-animation: scroll-left 10s linear infinite;
    animation: scroll-left 10s linear infinite;
}

.Intro-Title {
    text-align: left;
    font-size: 2.5rem;
    position: absolute;
    margin-left: 45%;
    margin-top: -22.5%;
    color: #852630;
    font-family: 'Kross Neue Book';
}











@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    50% {
        -webkit-transform: translateX(-100%);
    }
}