@font-face {
  font-family: 'Kross Neue Light';
  src: local("KrossNeueLight"), url('./Fonts/KrossNeueGrotesk-Light\ copy.ttf');
}

@font-face {
  font-family: 'Kross Neue Book';
  src: local("KrossNeueBook"), url('./Fonts/KrossNeueGrotesk-Book\ copy.ttf');
}

@font-face {
  font-family: 'Kross Neue Thin';
  src: local("KrossNeueLight"), url('./Fonts/KrossNeueGrotesk-Thin\ copy.ttf');
}

@font-face {
  font-family: 'Kross Neue Bold';
  src: local("KrossNeueBold"), url('./Fonts/KrossNeueGrotesk-Bold.ttf');
}

@font-face {
  font-family: 'Kross Neue Heavy';
  src: local("KrossNeueHeavy"), url('./Fonts/KrossNeueGrotesk-Heavy.ttf');
}

@font-face {
  font-family: 'Kross Neue Book Italic';
  src: local("KrossNeueBookItalic"), url('./Fonts/KrossNeueGrotesk-BookItalic.ttf');
}