@font-face {
  font-family: 'Kross Neue Light';
  src: local("KrossNeueLight"), url('./Fonts/KrossNeueGrotesk-Light\ copy.ttf');
}

@font-face {
  font-family: 'Kross Neue Book';
  src: local("KrossNeueBook"), url('./Fonts/KrossNeueGrotesk-Book\ copy.ttf');
}

@font-face {
  font-family: 'Kross Neue Thin';
  src: local("KrossNeueLight"), url('./Fonts/KrossNeueGrotesk-Thin\ copy.ttf');
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}